*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
}

/*Center the logo*/

.imgcontainer{
	text-align: center;
	margin: 15px 0 5px 0;
}

.imgcontainer img.Logo{
	height: 9%;
	width: 9%;
	border-radius: 35%;
	text-align: center;
	margin: auto;
}

.container{
	max-width: 400px;
	margin: auto;
	padding: 20px;
	text-align: left;
	margin-top: 5px;
	color: #000;
	border-radius: none;
	border:3px solid #f1f1f1;
}

.info-container{
    text-align: left;
    margin-left: none;
    margin-bottom: 10px;
}

.input-container{
	padding: none;
	margin-bottom: 15px;

}


input[type=password]{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.resetPass{
	background: #4CAF50;
	color: white;
	padding: 15px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom: 15px;
	border-radius: 3px;
	font-size: 16px;
	font-weight: bold;
}

.secureTips{
	max-width: 400px;
	margin: auto;
	padding: none;
	text-align: left;
	margin-top: 5px;
	border-radius: none;
}

@media only screen and (max-width: 1600px){}
      /* Only affects 1200px width */
      @media only screen and (max-width: 1200px){}
      /* Only affects 900px width */
      @media only screen and (max-width: 900px){
      	
      	.container{max-width:500px;}
      	.secureTips{max-width:500px;}
      	
      }
      /* Only affects 600px width */
      @media only screen and (max-width: 600px){
      	
      	.container{max-width:330px;}
      	.secureTips{max-width:330px;}
      	
      }
      /* Only affects 400px width */
      @media only screen and (max-width: 400px){
      	
      	.container{max-width:200px;}
      	.secureTips{max-width:200px;}
      	
      }