@import url(http://fonts.googleapis.com/css?family=Montserrat);

* {
    margin: 0; 
    padding: 0;

}

.nav-search {
    background: #f9f9f9;
    height: 40px;
    display: inline-block;
    border: 1px solid #dbdbdb;

}

.nav-search li {
    float: left;
    list-style-type: none;
    position: relative;
}

.nav-search li a {
    font-size: 14px; 
    color: white;
    display: block;
    line-height: 40px;
    padding: 0 20px;
    text-decoration: none;
    border-left: 1px solid #2e2e2e;
    font-family: Montserrat, sans-serif;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
.nav-search li a:hover {
    background-color: #f9f9f9;
}



#search {
    width: 600px;
    margin: 4px;
}
#search_text{
    width: 530px; /*530*/
    padding: 15px 0 15px 20px;
    font-size: 12px;
    font-family: Montserrat, sans-serif;
    border: 0 none;
    height: 29px;
    margin-right: 0;
    color: black;
    outline: none;
    background: #f2f2f2;
    float: left;
    box-sizing: border-box;
    transition: all 0.15s;
    border: .5px solid #dbdbdb;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: black;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: black;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: black;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: black;
}
#search_text:focus {
    background: inherit;
}
#search_button {
    border: 0 none;
    background:  #4CAF50;
    width: 70px; 
    float: left;
    padding: 0;
    text-align: center;
    height: 31px;
    cursor: pointer;
    color: white;
}

#options a{
    border-left: 0 none;
}
#options a {
    background-image: url(triangle.png);
    background-position: 85% center;
    background-repeat: no-repeat;
    padding-right: 42px;
    color: black;

}
.subnav-search {
    visibility: hidden;
    position: absolute;
    top: 110%;
    right: 0;
    width: 170%;
    height: auto;
    opacity: 0;
    transition: all 0.1s;
    background: white;
}
.subnav-search li {
    float: none;
}
.subnav-search li a {
    border: none;
}

.subnav-search li a:hover{
    background-color: #dbdbdb;
}

#options:hover .subnav-search {
    visibility: visible;
    opacity: 1;
    color: white;

}
